$primary-color: #362F49;   
$secondary-color: #030712; 
$accent-color: #D8FFA7; 
$accent-sec-color: #DCCCFF;   
$bg-color: #f9fafb;        
$text-color: #e5e7eb;     
$success-color: #22c55e;
$warning-color: #ffcf5a;
$danger-color: #ff694f;

$font:
  SF Pro Display,
  Source Code Pro,
  Segoe UI,
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;

/* Mixin*/
/* Mixin er en måde at genbruge kode på. Man tager kode som bruges flere steder og samler det i en mixin */
@mixin flex($justify: center, $align: center) {
  /* inde i paranteserne kan man have parametre og variabler 
- så bliver det en lokal mixin*/
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin btn($bg-color: $primary-color, $btn-padding: 1rem) {
  background-color: $bg-color;
  padding: $btn-padding;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
