@use "./variables" as *;

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn($bg-color: $primary-color, $btn-padding: 1rem) {
  background-color: $bg-color;
  padding: $btn-padding;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

/* Mixin Genbrug af kode: Man tager kode som bruges flere steder og samler det i en mixin */

  /* inde i paranteserne kan man have parametre og variabler 
- så bliver det en lokal mixin @mixin flex($justify: center, $align: center) {*/
