/* Colors */
$primary-color: #362f49;
$secondary-color: #030712;
$accent-color: #d8ffa7;
$accent-sec-color: #dcccff;
$bg-color: #f9fafb;
$text-color: #e5e7eb;
$success-color: #22c55e;
$warning-color: #ffcf5a;
$danger-color: #ff694f;
$neutral-color--dark: black;
$neutral-color--light: white;

/* Font */
$font:
  SF Pro Display,
  Source Code Pro,
  Segoe UI,
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;
